{
    "presets": [
        "latest",
        "stage-2",
        "react",
        [
            "env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        "transform-react-jsx",
        "transform-decorators-legacy",
        [
            "transform-runtime",
            {
                "polyfill": false,
                "regenerator": true
            }
        ],
        "transform-class-properties",
        "transform-flow-strip-types"
    ]
}
